.task_list_container{
    width: 90%;
    height: 60%;
    min-height: 300px;
    justify-content: space-between;

    .card_list{
        widht: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-start;
        align-items: flex-start;
        padding: 0px;
    }
}